a {
    color: #000;
}

a:link {
    color: #000;
}

a:active {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

html {
    width: 1220px;
}

body, input {
    font-family: '돋움', Dotum, sans-serif; 
}